language: go

go:
    - 1.5
    - tip

addons:
    apt:
        packages:
        - libi2c-dev

install:
    - go get github.com/alecthomas/gometalinter
    - gometalinter --install --update
    - go get github.com/axw/gocov/gocov
    - go get golang.org/x/tools/cmd/cover
    - go get github.com/mattn/goveralls

script:
    - go get -v ./...
    - gometalinter --deadline 1m ./...
    - goveralls -v -service=travis-ci ./...

branches:
    only:
        - master
