language: go

go:
    - 1.5
    # Temporarily disable until Travis CI is fast again
    #- tip

cache:
    directories:
        - ~/.platformio
        - ~/.shellcheck

addons:
    apt:
        packages:
        - libi2c-dev
        # shellcheck is not in Travis' Ubuntu
        #- shellcheck

install:
    - pip install --user --upgrade platformio
    - platformio lib install 19 580 # Adafruit-DHT, EasyVR

script:
    # Raspberry Pi part
    - curl https://raw.githubusercontent.com/dasfoo/travis/master/go.sh | sh
    # BotBoarduino part
    - platformio ci --board=diecimilaatmega328 bb
    # MotorController part
    - platformio ci --board=diecimilaatmega328 mc
    # Shell part
    - curl https://raw.githubusercontent.com/dasfoo/travis/master/shell.sh | sh -s bin/*

branches:
    only:
        - master
