[Unit]
Description=Raspberry Pi camera streaming server
After=network-online.target

[Service]
Type=simple
ExecStart=/home/pi/rover/bin/capture-server %i
RestartSec=1
Restart=always
StartLimitInterval=0
StartLimitAction=reboot-force
