[Unit]
Description=Reverse tunnel for port forwarding to Raspberry Pi rover
After=network-online.target
# stop / restart this together with rover
PartOf=rover.service
# start this together with rover
WantedBy=rover.service

[Service]
User=pi
Type=simple
ExecStart=/home/pi/rover/bin/reverse-tunnel %i
RestartSec=1
Restart=always
StartLimitInterval=0
StartLimitAction=reboot-force
