[Unit]
Description=Rover server
After=network-online.target

[Service]
User=pi
Type=simple
ExecStart=/home/pi/rover/rover -laddr=:1234
RestartSec=1
Restart=always
StartLimitInterval=0
StartLimitAction=reboot-force
# Disable because systemd logs it for us.
Environment=ROVER_LOG_TIMESTAMP=false
